<!DOCTYPE html>

<html xmlns:th="https://www.thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'home')}">

  <body>

	<h2>Welcome version-1.0.0 Blue (With H2 memory DB)</h2>
	<!--
	<h2>Welcome version-2.0.0 Green (With AWS RDS MySQL DB)</h2>
    -->

	<!-- <h2 th:text="#{welcome}">welcome</h2>-->
    <div class="row">
        <div class="col-md-12">
          <img class="img-responsive" src="../static/resources/images/pets.png" th:src="@{/resources/images/pets.png}"/>
        </div>
    </div>

  </body>

</html>